
// Tripod
// ------------------------

#breadcrumbs .breadcrumb {
	background: rgba(255, 255, 255, 0.1);
}

.btn {
	border-bottom-color: @grayDark;
	background: @white;

	&:hover,
	&:active,
	&:focus {
		background: @grayLighter;
	}
}

.nav-tabs{
	h3 , p , > li {
		a{
			&:before{
				background-image: url(../images/yellow-black/nav-tabs-item-hover-left.png);
			}
			&:after{
				background-image: url(../images/yellow-black/nav-tabs-item-hover-right.png);
			}
		}
	}
}

// Breadcrumb
// ------------------------

.breadcrumb{
	> li {
		&:last-child{
			&:before{
				background-image: url(../images/yellow-black/breadcrumb-item-active-left.png);
			}
			&:after{
				background-image: url(../images/yellow-black/breadcrumb-item-active-right.png);
			}
		}
	}
}

blockquote{
	background-image: url(../images/yellow-black/blockquote.png);
}

.table {
	&.table-striped{
		tbody>tr:nth-child(even){
			>td, >th{
				background-image: url(../images/yellow-black/table-striped.png);
			}
		}
	}
	&.table-hover{
		tbody tr:hover{
			>td, >th{
				background-image: url(../images/yellow-black/table-striped.png);
			}
		}
	}
}

// Navbar

.navbar {
	.nav {
		> li {
			> a{
				&:before{
					background-image: url(../images/yellow-black/nav-tabs-item-hover-left.png);
				}
				&:after{
					background-image: url(../images/yellow-black/nav-tabs-item-hover-right.png);
				}
			}
		}
	}
}

.navbar-inverse {
	.nav {
		> li {
			> a{
			&:before{
				background-image: url(../images/yellow-black/breadcrumb-item-active-left.png);
			}
			&:after{
				background-image: url(../images/yellow-black/breadcrumb-item-active-right.png);
			}
			}
		}
	}
}

// mod-articles-category-date

.mod-articles-category-date{
	&:before{
		background-image: url(../images/yellow-black/breadcrumb-item-active-left.png);
	}
	&:after{
		background-image: url(../images/yellow-black/breadcrumb-item-active-right.png);
	}
}

.is_internet.v_8{
	#header{
		.bg-filter{
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#B2000000', endColorstr='#B2000000');
		}
		.tripod-slideshow-wrapper-icons{
			.tripod-slideshow-icon{
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#B2000000', endColorstr='#B2000000');
			}
		}
	}
	#header{
		&.tripodSlideshow{
			#logo{
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#B2000000', endColorstr='#B2000000');
			}
			.top-position{
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#B2000000', endColorstr='#B2000000');
			}
		}
	}
}

.page-header {
	border-bottom-color: #41494c;
}

// Navs

.nav-tabs {
	ul.submenu {
		> li {
			a {
				color: darken(@linkColor, 20%);
				text-align: center;

				&:hover, &:focus{
					color: darken(@linkColor, 30%);

					.caret {
						border-top-color: darken(@linkColor, 30%);
					}
				}
			}

			&.active {
				> a {
					color: darken(@linkColor, 30%);

					.caret {
						border-top-color: darken(@linkColor, 30%);
					}

					&:hover, &:focus{
						color: darken(@linkColor, 30%);

						.caret {
							border-top-color: darken(@linkColor, 30%);
						}
					}
				}
			}
		}
	}
}
