@media (max-width: 979px) {

	.wrapper-toolbar{
		.navbar-inner{
			min-height: 0;
			padding: 0;
		}
		.navbar .btn-navbar{
			border: 0;
			height: 19px;
			margin: 0;
			padding-top: 14px;
			padding: 14px 6px 7px;
			position: absolute;
			right: 20px;
			width: 28px;
			z-index: 4;
			.icon-bar{
				background-color: #8F6B00;
				box-shadow: none;
				width: 27px;
			}
		}

		.nav-collapse{
			&.in.collapse{
			 	margin-top: 40px;
			}
		}
	}

	.nav-collapse{
		.nav{
			margin: 0 auto;
			> li {
				a{
					text-align: center;
				}
			}
		}
	}

}