@media (max-width: 979px) {

	.navbar{
		.nav{
			display: block;
			> li > a{
				display: table;
			}
		}
	}

	.nav-collapse .dropdown-menu a:hover,
	.nav-collapse .dropdown-menu a:focus{
		color : @color_one;
	}

	.wrapper-toolbar{
		.navbar .btn-navbar{
			height: 19px;
			margin: 0;
			padding: 14px 6px 7px;
			position: absolute;
			right: 20px;
			width: 28px;
			z-index: 4;
			border-radius: 3px;
		}

		.nav-collapse{
			&.in.collapse{
			 	padding-top: 40px;
			}
		}
		#toolbar .navbar-inner .collapsedToolbarInner {
			height: auto;
			overflow: inherit;
		}
	}

	.toolbar.collapse{
		height: auto;
		overflow: visible;
		position: relative;
		.navbar-inner{
			min-height: @navbarHeight;
		}
	}
	.menu-big-items{
		.navbar-inner{
			min-height: 47px;
		}
		.navbar .btn-navbar{
			padding-top: 12px;
		}
	}

	.menu-big-items,
	.wrapper-bottom-menu{
		.navbar .btn-navbar{
			background-color: transparent;
			background-image: none;
			filter: none;
			padding-top: 10px;
		}
	}

	.tripodFtBlog {
		.toolbar{
			.navbar{
				.navbar-inner{
					background-image: none;
					filter:none;
					background-color: transparent;
					padding-top: 0;
					.nav-collapse{
						background-color: @navbarBackground;
					}
				}
			}
		}
	}

}
@media (max-width:767px) {
	.tripod-portfolio{
		[class*="span"]{
			width: 100% !important;
		}
	}
	#supersized li{
		width: 96%;
		margin-left: 2%;
		a{
			max-width: 100%;
			img{
				max-width: none;
			}
		}
	}
	body{
		padding-left: 2%;
		padding-right: 2%;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top , #footer{
		margin-left: -2%;
		margin-right: -2%;
	}
	.tripodFtBlog{
		#header{
			padding-bottom: 160px;
			padding-top: 70px;
			#logo{
				display: block;
				padding: 30px 60px;
			}
		}
	}
	#header .tripod-slideshow-wrapper-icons .tripod-slideshow-icon{
		height: 50px;
		line-height: 50px;
		width: 50px;
		img{
			max-width: 45%;
		}
	}
	.load-item{
		height: 87px;
		top: 60%;
		width: 34px;
		z-index: 5;
		-webkit-background-size: cover;
				background-size: cover;
	}
	#nextslide{
		right: -13px;
	}
	#prevslide{
		left: -13px;
	}
	.bottom-page{
		padding-left: 10px;
		padding-right: 10px;
	}
}