
// Tripod
// ------------------------

body{
	font-weight: 300;
}

// Headings
// ------------------------
h1{	font-size: 2.3em; }
h2{	font-size: 1.8em; }
h3{ font-size: 1.6em; }
h4{	font-size: 1.4em; }
h5{	font-size: 1.2em; }
h6{	font-size: 1.1em; }

h1, h2, h3 {  margin: 10px 0; }

h1, h2{ line-height: 40px; }

.item-page{
	overflow: visible;
	.clearfix();
	> .page-header{
		color: @color_two;
		margin-left: -20px;
		padding-left: 20px;
	}
}
// For Documentation
// ------------------------

.bs-docs-example:after{
	background-color: @color_two;
	color: @color_one;
}
// code

code {
	background-color: transparent;
	border: 0;
	color: @textColor;
	font-family: @sansFontFamily;
	font-size: @baseFontSize;
	font-weight: 700;
}

code , pre{
	border-radius: 0 0 0 0;
}
body {
	.prettyprint{
		background-color: @color_three;
		border: 0;
	}
	.kwd, .prettyprint .tag{
		color: @textColor;
	}
	.typ, .atn, .dec, .var,
	.pln,
	.str, .atv{
		color: darken(@color_four, 25%)
	}
	.prettyprint.linenums{
		box-shadow :inset 40px 0 0 darken(@color_three, 3%), inset 41px 0 0 darken(@color_three, 2%);
	}

	ol.linenums li{
		text-shadow: none;
	}
}
.bs-docs-example{
	pre{
		background-color: @color_three;
		color: @white;
	}
}

// Breadcrumb
// ------------------------

.breadcrumb{
	background-color: transparent;
	min-height: 40px;
	padding: 0;
	> li {
		height: 40px;
		padding-left: 0.7em;
		padding-right: 0.7em;
		text-shadow: none;

		span{
			display: inline-block;
			.ie7-inline-block;
			line-height: 40px;
			color: @color_two;
		}
		> .divider{
			.icon-caret-right{
				display: none;
				&:before{
					content: none;
				}
			}
		}
		&:first-child{display: none;}

		&:last-child{
			background-position: left top, right top;
			background-repeat: no-repeat, no-repeat;
		}
	}
}
// ------------------------
hr{
	border-bottom-color: @color_three;
}

blockquote{
	background-image: url(../../images/blockquote.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	border-left: 0;
	padding-left: 30px;
	p{
		font-size: 1.1em;
	}
	small{
		color: @color_two;
	}
	&.pull-right{
		background-position: right top;
		border-right: 0;
		padding-left: 0;
		padding-right: 30px;
	}
}

// Tables
// ------------------------
.table {
	thead{
		th{
			background-color: @color_two;
			color: @color_one;
		}
	}
	th, td{
		line-height: 34px;
		text-align: center;
	}
}

// Forms
// ------------------------
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input ,
legend,
select{
	color : @white;
}
.input-append ,
.input-prepend {
	.add-on{
		background-color: @wellBackground;
		border-color: @wellBackground;
	}
	.btn{
		border-bottom-width: 1px;
	}
}
.form-actions{
	border-top-color: @grayDarker;
}
// Buttons
// ------------------------

.btn{
	border-color: @btnBackground;
	border-bottom: 3px solid @btnBackground;
	border-left: 0;
	border-radius: 0 0 0 0;
	border-right: 0;
	box-shadow: none;
	color : @black;
	font-family: @sansFontFamilyTwo;
	font-size: 13px;
	font-weight: 700;
	text-shadow: none;
	text-transform: uppercase;
	&:hover{
		background-color: #FDFDFD;
		background-image: none;
		color: @black;
		filter:none;
	}
	&.btn-primary{
		border-color: @btnPrimaryBackground;
		&:hover{
			background-color: #FFDD77;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-info{
		border-color: @btnInfoBackground;
		color : @white;
		&:hover{
			background-color: #77A0B5;
			border-top-color: #77A0B5;
			color : @black;
		}
	}
	&.btn-success{
		border-color: @btnSuccessBackground;
		&:hover{
			background-color: #B7D2BC;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-warning{
		border-color: @btnWarningBackground;
		&:hover{
			background-color: #DCCD82;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-danger{
		border-color: @btnDangerBackground;
		&:hover{
			background-color: #F6968D;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-inverse{
		border-color: @btnInverseBackground;
		color : @white;
		&:hover{
			background-color: #9B9B9B;
			color : @black;
		}
	}
	&.btn-link{
		border: 0;
		color : @linkColor;
		&:hover{
			background-color: transparent;
		}
	}
}

// Pager
// ------------------------

.pager li>a, .pager li>span{
	background-color: darken(@bodyBackground, 10%);
	border-color: @grayDarker;
}

// Images
// ------------------------
.img-polaroid{
	background-color: @bodyBackground;
	border-color: @gray;
}

// Navs
// ------------------------

.nav>li>a:hover, .nav>li>a:focus{
	background-color: lighten(@color_one, 7%);
	color : @color_two;
}
.nav-pills {
	li {
		a{
			font-weight: 700;
		}
	}
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus{
	color : @color_one;
}
.nav-list{
	li{
		a{
			font-weight: 700;
			text-transform: uppercase;
			text-shadow: none;
			&:hover{
				background-color: lighten(@color_one, 7%);
			}
		}
	}
	.nav-header{
		text-shadow: none;
	}
	.divider{
		background-color: @grayDarker;
		border-bottom: 0;
	}
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus{
	text-shadow: none;
	color : @color_one;
}

// ------------------------
.nav-tabs{
	border-bottom: 0;
	margin-bottom: 0;
	&.nav{
		background-color: @color_two;
	}
	dt{
		h3{
			margin-top: 0;
		}
	}
	h3 , p, > li {
		> a{
			border: 0;
			border-radius: 0;
			color: @color_one;
			display: block;
			font-family: @sansFontFamilyTwo;
			font-size: 13px;
			font-weight: 400;
			padding: 1em;
			text-transform: uppercase;
			&:hover{
				background-color: transparent;
				background-position: 0 0 , right top;
				background-repeat: no-repeat , no-repeat;
				color: @color_one;
				text-decoration: none;
			}
		}
	}
	>.open  {
		h3 , p {
			a{
				background-color: @color_two;
				background-position: 0 0 , right top;
				background-repeat: no-repeat , no-repeat;
				border: 0;
				color: @color_one !important;
				font-weight: 700;
			}
		}
		.dropdown-toggle{
			background-color: transparent;
			background-position: 0 0 , right top;
			background-repeat: no-repeat , no-repeat;
			color: @color_one !important;
		}
	}
	> .active {
		> a{
			background-color: @color_two;
			background-position: 0 0 , right top;
			background-repeat: no-repeat , no-repeat;
			border: 0;
			color: @color_one !important;
			font-weight: 700;
			&:hover{
				background-color: transparent;
				border: 0;
			}
		}
	}
	> li{
		margin-bottom: 0;
	}
	&.nav-stacked>li>a{
		border: 0;
	}
	+ .current , + .tab-content{
		border: 1px solid @color_two;
		border-top: 0;
		padding: 1em;
	}
	dd{margin-left: 0;}
}

.tabs-below{
	>.nav-tabs{
		border-top: 0;
		>li>a{
			border-radius: 0 0 0 0;
		}
	}
	.tab-content{
		border: 1px solid @color_two;
		border-bottom: 0;
		padding: 1em;
	}
}
.tabs-left{
	display: table-row;
	>.nav-tabs{
		border-right: 0;
		margin-right: 0;
		display: table-cell;
		> li > a{
			border-radius: 0 0 0 0;
			text-align: center;
		}
	}
	.tab-content{
		border-left: 0;
		border-top: 1px solid @color_two;
		display: table-cell;
		padding: 1em;
		vertical-align: top;
	}
}
.tabs-right{
	>.nav-tabs{
		border-left: 0;
		margin-left: 0;
		> li > a{
			border-radius: 0 0 0 0;
			text-align: center;
		}
	}
	.tab-content{
		border-right: 0;
		border-top: 1px solid @color_two;
		padding: 1em;
	}
}
// Modules
// ------------------------

.hero-unit{
	border-radius: 0 0 0 0;
	font-weight: 300;
}

.thumbnail {
	border-color: @gray;
	.caption{
		color : @textColor;
	}
}

// Alerts
// ------------------------

.alert{
	font-weight: 400;
	text-shadow: none;
}

// Labels

.label-success, .badge-success{	background-color: @successBackground; }
.label-important, .badge-important{ background-color: @errorBackground;}
.label-info, .badge-info{background-color: @infoBackground;}

// warning
.control-group.warning .control-label, .control-group.warning .help-block, .control-group.warning .help-inline{
	color : @warningBackground;
}
.control-group.warning input, .control-group.warning select, .control-group.warning textarea{
	border-color: @warningBackground;
}
// error
.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline{
	color : @errorBackground;
}
.control-group.error input, .control-group.error select, .control-group.error textarea{
	border-color: @errorBackground;
}
// info
.control-group.info .control-label, .control-group.info .help-block, .control-group.info .help-inline{
	color : @infoBackground;
}
.control-group.info input, .control-group.info select, .control-group.info textarea{
	border-color: @infoBackground;
}
// success
.control-group.success .control-label, .control-group.success .help-block, .control-group.success .help-inline{
	color : @successBackground;
}
.control-group.success input, .control-group.success select, .control-group.success textarea{
	border-color: @successBackground;
}

// Articles
// ------------------------
dl.article-info{
	color : @color_two;
	font-size: 20px;
	font-style: italic;
	line-height: 25px;
	margin-bottom: 10px;
	dd{
		margin-left: 2px;
		margin-right: 2px;
		text-decoration: underline;
		[class^="icon-"],  [class*=" icon-"]{
			margin-right: 3px;
			text-decoration: none;
			width: auto;
		}
	}
	dd > div:hover, dd:hover{
		background-color: transparent;
	}
}
span.content_rating{
	font-size: 0.9em;
}

// Navbar
// ------------------------

.navbar {
	.nav {
		display: table;
		float: none;
		margin: 0 auto;
		> li {
			margin-left: 1.6em;
			margin-right: 1.6em;
			> a{
				background-position: 0 0, right top;
				background-repeat: no-repeat, no-repeat;
				font-weight: 700;
				line-height: 27px;
				min-height: 27px;
			}
			.dropdown-menu{
				border: 0;
				padding-bottom: 0;
				padding-top: 0;
				&:before, &:after{
					content: none;
				}
				> li {
					> a {
						line-height: 30px;
						min-height: 30px;
					}
				}
			}
		}
		>.active>a, >.active>a:hover, >.active>a:focus{
			box-shadow: none;
		}
	}
}
.navbar-inner{
	border: 0;
}
// Menu Big Items
// ------------------------
.menu-big-items{
	.nav {
		> li {
			margin-left: 0.8em;
			margin-right: 0.8em;
			> a{
				font-size: 20px;
				text-transform: uppercase;
			}
		}
		.dropdown-toggle{
			.caret{
				margin-top: 14px;
			}
		}
	}
}
// Dropdown Menu
// ------------------------
.dropdown-menu{
	border-radius: 0 0 0 0;
	li {
		a{
			&:hover{
				background-image: none;
				filter:none;
			}
		}
	}
	.active{
		> a{
			background-image: none;
			filter:none;
			&:hover, &:focus{
				background-image: none;
				filter:none;
			}
		}
	}
}
// Header
#header{
	margin: 10px 0;
	padding: @paddingLarge;
	text-align: center;
}