
// Tripod
// ------------------------

body{
	font-weight: 300;
}

// Headings
// ------------------------
h1{	font-size: 2.3em; }
h2{	font-size: 1.8em; }
h3{ font-size: 1.6em; }
h4{	font-size: 1.4em; }
h5{	font-size: 1.2em; }
h6{	font-size: 1.1em; }

h1, h2, h3 {  margin: 10px 0; }

h1, h2{ line-height: 40px; }

.item-page{
	overflow: visible;
	.clearfix();
	> .page-header{
		margin-left: -20px;
		padding-left: 20px;
	}
}
.page-header{
	color: @color_two;
}
// For Documentation
// ------------------------

.bs-docs-example:after{
	background-color: @color_two;
	color: @color_one;
}
// code

code {
	background-color: transparent;
	border: 0;
	color: @textColor;
	font-family: @sansFontFamily;
	font-size: @baseFontSize;
	font-weight: 700;
}

code , pre{
	border-radius: 0 0 0 0;
}
body {
	.prettyprint{
		background-color: @color_three;
		border: 0;
	}
	.kwd, .prettyprint .tag{
		color: @textColor;
	}
	.typ, .atn, .dec, .var,
	.pln,
	.str, .atv{
		color: darken(@color_four, 25%)
	}
	.prettyprint.linenums{
		box-shadow :inset 40px 0 0 darken(@color_three, 3%), inset 41px 0 0 darken(@color_three, 2%);
	}

	ol.linenums li{
		text-shadow: none;
	}
}
.bs-docs-example{
	pre{
		background-color: @color_three;
		color: @white;
	}
}

// Breadcrumb
// ------------------------

.breadcrumb{
	background-color: transparent;
	min-height: 40px;
	padding: 0;
	> li {
		height: 40px;
		padding-left: 0.7em;
		padding-right: 0.7em;
		text-shadow: none;

		span{
			display: inline-block;
			.ie7-inline-block;
			line-height: 40px;
			color: @color_two;
		}
		> .divider{
			.icon-caret-right{
				display: none;
				&:before{
					content: none;
				}
			}
		}
		&:first-child{display: none; + li {padding-left: 0; padding-right: 0;}}

		&:last-child{
			position: relative;
			&:before,
			&:after{
				background-repeat: no-repeat;
				content: '';
				height: 40px;
				position: absolute;
				top: 0;
				width: 15px;
			}
			&:before{
				background-position: 0 0;
				left: 0;
			}
			&:after{
				background-position: right top;
				right: 0;
			}
		}
	}
}
// ------------------------
hr{
	border-bottom-color: @color_three;
}

blockquote{
	background-image: url(../../images/blockquote.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	border-left: 0;
	padding-left: 30px;
	p{
		font-size: 1.1em;
	}
	small{
		color: @color_two;
	}
	&.pull-right{
		background-position: right top;
		border-right: 0;
		padding-left: 0;
		padding-right: 30px;
	}
}

// Tables
// ------------------------
.table {
	thead{
		th{
			background-color: @color_two;
			color: @color_one;
			a{
				color: @color_one;
			}
		}
	}
	th, td{
		line-height: 34px;
		text-align: center;
	}
}

// Forms
// ------------------------
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input ,
legend,
select{
	color : @white;
}
.input-append ,
.input-prepend {
	.add-on{
		background-color: @wellBackground;
		border-color: @wellBackground;
	}
	.btn{
		border-bottom-width: 1px;
	}
}
.form-actions{
	border-top-color: @grayDarker;
}
// Buttons
// ------------------------

.btn{
	border-color: @btnBackground;
	border-bottom: 3px solid @btnBackground;
	border-left: 0;
	border-radius: 0 0 0 0;
	border-right: 0;
	box-shadow: none;
	color : @black;
	font-family: @sansFontFamilyTwo;
	font-size: 13px;
	font-weight: 700;
	text-shadow: none;
	text-transform: uppercase;
	&:hover{
		background-color: #FDFDFD;
		background-image: none;
		color: @black;
		filter:none;
	}
	&.btn-primary{
		border-color: @btnPrimaryBackground;
		&:hover{
			background-color: #FFDD77;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-info{
		border-color: @btnInfoBackground;
		color : @white;
		&:hover{
			background-color: #77A0B5;
			border-top-color: #77A0B5;
			color : @black;
		}
	}
	&.btn-success{
		border-color: @btnSuccessBackground;
		&:hover{
			background-color: #B7D2BC;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-warning{
		border-color: @btnWarningBackground;
		&:hover{
			background-color: #DCCD82;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-danger{
		border-color: @btnDangerBackground;
		&:hover{
			background-color: #F6968D;
		}
		.caret{
			border-top-color: @black;
			border-bottom-color: @black;
		}
	}
	&.btn-inverse{
		border-color: @btnInverseBackground;
		color : @white;
		&:hover{
			background-color: #9B9B9B;
			color : @black;
		}
	}
	&.btn-link{
		border: 0;
		color : @linkColor;
		&:hover{
			background-color: transparent;
		}
	}
}

// Pager
// ------------------------

.pager li>a, .pager li>span{
	background-color: darken(@bodyBackground, 10%);
	border-color: @grayDarker;
	&:hover{
		background-color: darken(@bodyBackground, 20%);
	}
}

// Images
// ------------------------
.img-polaroid{
	background-color: @bodyBackground;
	border-color: @gray;
	-webkit-box-sizing: border-box;
   	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

// Navs
// ------------------------

.nav>li>a:hover, .nav>li>a:focus{
	background-color: lighten(@color_one, 7%);
	color : @color_two;
}
.nav-pills {
	li {
		a{
			font-weight: 700;
		}
	}
}

.nav.nav-pills> li.active>a, .nav.nav-pills> li.active>a:hover, .nav.nav-pills> li.active>a:focus{
	color : @color_one;
	.caret {
		border-top-color: @color_one;
		border-bottom-color: @color_one;
	}
	[class^="icon-"],
	[class*=" icon-"] {
		color: @color_one;
	}
	&:hover,
	&:focus {
		.caret {
			border-top-color: @color_one;
			border-bottom-color: @color_one;
		}
		[class^="icon-"],
		[class*=" icon-"] {
			color: @color_one;
		}
	}
}

.nav.nav-pills {
	li {
		> a{
			&:hover, &:focus{
				.caret {
					border-top-color: @color_two;
					border-bottom-color: @color_two;
				}
				[class^="icon-"],
				[class*=" icon-"]{
					color: @color_two;
				}
			}
		}
	}
}

.module {
	.nav.nav-pills {
		li.active{
			>a{
				color: @color_one;
				.caret {
					border-top-color: @color_one;
					border-bottom-color: @color_one;
				}
				[class^="icon-"],
				[class*=" icon-"]{
					color: @color_one;
				}
				&:hover, &:focus{
					color : @color_two;
					.caret {
						border-top-color: @color_two;
						border-bottom-color: @color_two;
					}
					[class^="icon-"],
					[class*=" icon-"]{
						color: @color_two;
					}
				}
			}
		}
		> li > a{
			&:hover, &:focus{
				color : @color_two;

			}
		}
	}
}
.module .nav.nav-stacked.nav-list li.active>a{
	color: @color_one;
	.caret {
		border-top-color: @color_one;
		border-bottom-color: @color_one;
	}
	[class^="icon-"],
	[class*=" icon-"]{
		color: @color_one;
	}
	&:hover,&:focus{
		color: @color_two;
		.caret {
			border-top-color: @color_two;
			border-bottom-color: @color_two;
		}
		[class^="icon-"],
		[class*=" icon-"]{
			color: @color_two;
		}
	}
}

.nav-list{
	li{
		a{
			font-weight: 700;
			text-transform: uppercase;
			text-shadow: none;
			&:hover{
				background-color: lighten(@color_one, 7%);
			}
		}
	}
	.nav-header{
		text-shadow: none;
	}
	.divider{
		background-color: @grayDarker;
		border-bottom: 0;
	}
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus{
	text-shadow: none;
	color : @color_one;
}

// ------------------------
.nav.nav-tabs{
	background-color: @color_two;
	border-bottom: 0;
	margin-bottom: 0;
	dt{
		h3{
			margin-top: 0;
		}
	}
	h3 , p, > li {
		> a{
			border: 0;
			border-radius: 0;
			color: @color_one;
			display: block;
			font-family: @sansFontFamilyTwo;
			font-size: 13px;
			font-weight: 400;
			padding: 1em;
			position: relative;
			text-transform: uppercase;

			&:before,
			&:after{
				background-repeat: no-repeat;
				content: none;
				height: 47px;
				position: absolute;
				top: 0;
				width: 16px;
			}
			&:before{
				background-position: 0 0;
				left: 0;
			}
			&:after{
				background-position: right top;
				right: 0;
			}


			&.hide-text{
				padding: 13px;
			}
			.caret {
				border-top-color: @color_one;
				border-bottom-color: @color_one;
			}
			[class^="icon-"],
			[class*=" icon-"] {
				color: @color_one;
			}
			&:hover,
			&:focus {
				background-color: transparent;
				color: @color_one;
				text-decoration: none;

				.caret {
					border-top-color: @color_one;
					border-bottom-color: @color_one;
				}
				[class^="icon-"],
				[class*=" icon-"] {
					color: @color_one;
				}
			}
		}
		&:hover{
			> a{
 				position: relative;
				&:before,
				&:after{
					content : '';
				}
			}
		}
	}
	>.open  {
		h3 , p {
			a{
				background-color: @color_two;
				border: 0;
				color: @color_one !important;
				font-weight: 700;

				&:before,
				&:after{
					content : '';
				}
			}
		}
		.dropdown-toggle{
			background-color: transparent;
			color: @color_one !important;

			&:before,
			&:after{
				content : '';
			}
		}
	}
	> .active {
		> a{
			background-color: @color_two;
			border: 0;
			color: @color_one !important;
			font-weight: 700;
			&:hover{
				background-color: transparent;
				border: 0;
			}

			&:before,
			&:after{
				content : '';
			}
		}
	}
	> li{
		margin-bottom: 0;
	}
	+ .current , + .tab-content{
		border: 1px solid @color_two;
		border-top: 0;
		padding: 1em;
	}
	dd{margin-left: 0;}

	&.nav-stacked>li{
		>a{
			border: 0;
		}
		&:first-child, &:last-child{
			>a{
				border-radius: 0 0 0 0;
				}
		}
	}
}

.tabs-below{
	>.nav-tabs{
		border-top: 0;
		>li>a{
			border-radius: 0 0 0 0;
		}
	}
	.tab-content{
		border: 1px solid @color_two;
		border-bottom: 0;
		padding: 1em;
	}
}
.tabs-left{
	display: table-row;
	>.nav-tabs{
		border-right: 0;
		margin-right: 0;
		display: table-cell;
		> li > a{
			border-radius: 0 0 0 0;
			text-align: center;
		}
	}
	.tab-content{
		border-left: 0;
		border-top: 1px solid @color_two;
		display: table-cell;
		padding: 1em;
		vertical-align: top;
	}
}
.tabs-right{
	>.nav-tabs{
		border-left: 0;
		margin-left: 0;
		> li > a{
			border-radius: 0 0 0 0;
			text-align: center;
		}
	}
	.tab-content{
		border-right: 0;
		border-top: 1px solid @color_two;
		padding: 1em;
	}
}
// Modules
// ------------------------

.big-heading(){
	border-bottom-style: solid;
	border-bottom-width: 10px;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	margin-bottom: 15px;
	margin-top: 0;
	text-transform: uppercase;
	@media (max-width:767px) {
		font-size: 38px;
		line-height: 48px;
	}
}
.big-text(){
	font-size: 24px;
	line-height: 30px;
	@media (max-width:767px) {
		font-size: 21px;
		line-height: 27px;
	}
}

.hero-unit{
	border-radius: 0 0 0 0;
	font-weight: 300;
	h1{
		.big-heading();
	}
}

.thumbnail {
	border-color: @gray;
	.caption{
		color : @textColor;
	}
}
.module_ms1, .moduletable_ms1, .moduletext_ms1{
	.big-text();
	> h3{
		.big-heading();
		border-bottom-color: @color_two;
		color : @color_two;
		+ .custom_ms1 > .tripod-portfolio{
			margin-top: -15px;
		}
	}
}
.module_ms2, .moduletable_ms2, .moduletext_ms2{
	.big-text();
	background-color: @color_two;
	color : @color_one;
	padding: @paddingSmall;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	> h3{
		.big-heading();
		border-bottom-color: @color_one;
	}
}
.module_ms3, .moduletable_ms3, .moduletext_ms3{
	font-size: 20px;
	line-height: 26px;
	> h3{
		border-bottom: 1px solid @white;
		color : @color_two;
		font-size: 30px;
		line-height: 40px;
		text-align: right;
		text-transform: uppercase;
	}
}
.module_ms4, .moduletable_ms4, .moduletext_ms4{
	> h3{
		border-bottom: 1px solid @white;
		color : @color_two;
		font-family: @sansFontFamily;
		font-size: 20px;
		line-height: 40px;
		font-weight: 400;
		text-align: right;
	}
}
#grid-bottom{
	background-color: @color_three;
	margin-bottom: 0;
}
#grid-bottom2{
	margin-bottom: 0;
}
.share-with-us{
	color : @color_two;
	font-weight: 600;
	a{
		font-weight: 400;
		margin-left: 10px;
	}
}
// Alerts
// ------------------------

.alert{
	font-weight: 400;
	text-shadow: none;
}

// Labels

.label{
	border-radius: 0 0 0 0;
}
.label-success, .badge-success{
	background-color: @successBackground;
	&[href]{
		background-color: @successBackground;
	}
}
.label-important, .badge-important{
	background-color: @errorBackground;
	&[href]{
		background-color: @errorBackground;
	}
}

.label-info, .badge-info{
	background-color: @infoBackground;
	&[href]{
		background-color: @infoBackground;
	}
}

// warning
.control-group.warning .control-label, .control-group.warning .help-block, .control-group.warning .help-inline{
	color : @warningBackground;
}
.control-group.warning input, .control-group.warning select, .control-group.warning textarea{
	border-color: @warningBackground;
}
// error
.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline{
	color : @errorBackground;
}
.control-group.error input, .control-group.error select, .control-group.error textarea{
	border-color: @errorBackground;
}
// info
.control-group.info .control-label, .control-group.info .help-block, .control-group.info .help-inline{
	color : @infoBackground;
}
.control-group.info input, .control-group.info select, .control-group.info textarea{
	border-color: @infoBackground;
}
// success
.control-group.success .control-label, .control-group.success .help-block, .control-group.success .help-inline{
	color : @successBackground;
}
.control-group.success input, .control-group.success select, .control-group.success textarea{
	border-color: @successBackground;
}

// Articles
// ------------------------
dl.article-info{
	color : @color_two;
	font-size: 20px;
	font-style: italic;
	line-height: 25px;
	margin-bottom: 10px;
	dd{
		margin-left: 2px;
		margin-right: 2px;
		text-decoration: underline;
		[class^="icon-"],  [class*=" icon-"]{
			margin-right: 3px;
			text-decoration: none;
			width: auto;
		}
	}
	dd > div:hover, dd:hover{
		background-color: transparent;
		> i {
			font-size: 1.2em;
		}
	}

}
span.content_rating{
	font-size: 0.9em;
}

// Navbar
// ------------------------

.navbar {
	.nav {
		display: table;
		float: none;
		margin: 0 auto;
		> li {
			margin-left: 1.4em;
			margin-right: 1.4em;
			> a{
				font-weight: 700;
				line-height: 26px;
				min-height: 26px;
				&:before,
				&:after{
					background-repeat: no-repeat;
					content: none;
					height: 47px;
					position: absolute;
					top: 0;
					width: 16px;
				}
				&:before{
					background-position: 0 0;
					left: 0;
				}
				&:after{
					background-position: right top;
					right: 0;
				}
			}
			&:hover{
				> a{
					position: relative;
					&:before,
					&:after{
						content : '';
					}
				}
			}
			.dropdown-menu{
				border: 0;
				padding-bottom: 0;
				padding-top: 0;
				&:before, &:after{
					content: none;
				}
				> li {
					> a {
						line-height: 30px;
						min-height: 30px;
					}
				}
				.dropdown .caret{
					margin-left: 5px;
					margin-top: 13px;
				}
			}
		}
		>.active>a, >.active>a:hover, >.active>a:focus{
			box-shadow: none;
			position: relative;
			&:before,
			&:after{
				content: '';
			}
		}
	}
	.btn-navbar{
		border: 0;
		.icon-bar{
			background-color: #8F6B00;
			box-shadow: none;
			width: 27px;
		}
	}
}
.navbar-inner{
	border: 0;
	&.nav{
		padding-left: 0;
		padding-right: 0;
		> li {
			margin-left: 1.2em;
			margin-right: 1.2em;
		}
	}
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	box-shadow: none;
}
// Menu Big Items
// ------------------------
.menu-big-items{
	.nav {
		> li {
			margin-left: 0.8em;
			margin-right: 0.8em;
			> a{
				font-size: 20px;
				text-transform: uppercase;
			}
		}
		.dropdown-toggle{
			.caret{
				margin-top: 14px;
			}
		}
	}
	+ #spanScrollingMenuWrapper{
		margin-top: 10px;
	}
}
.wrapper-menu,.wrapper-bottom-menu{
	.navbar{
		margin-bottom: 0;
	}
}
// Single page menu space
// ------------------------
.tripodFtBlog {
	height: 100%;
	#menu{
		margin-bottom: 0;
	}
	#footer.sticky{
		position: static !important;
		bottom: auto;
	}
}
#bottom-menu{
	background-color: @color_one;
	margin-bottom: 0;
}
#spanRestScrollingMenuWrapper{
	background-color: @color_one;
	padding-top: 20px;
}
// Dropdown Menu
// ------------------------
.dropdown-menu{
	border-radius: 0 0 0 0;
	li {
		a{
			&:hover{
				background-image: none;
				filter:none;
			}
		}
	}
	.active{
		> a{
			background-image: none;
			filter:none;
			&:hover, &:focus{
				background-image: none;
				filter:none;
			}
		}
	}
}
// Header
#header{
	margin: 10px;
	padding: 20px 0;
	position: relative;
	text-align: center;
	.bg-wrapp{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		.bg-wrapp-inner{
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;
			#bg-header{
				display: block;
				left: 0;
				position: absolute;
				top: 0;
			}

		}
	}
	.bg-filter{
		background-color: fade(@color_one, 70%);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.header-inner{
		position: relative;
		z-index: 3;
	}
	#logo{
		float: none;
		margin-left: auto;
		margin-right: auto;
		+ div{
			margin-top: 15px;
		}
	}
	.moduletable,.module, .moduletext{
		margin-bottom: 0;
	}

	// Slideshow menu
	.tripod-slideshow-wrapper-icons{
		display: table;
		margin: 10px auto 0;
		.tripod-slideshow-icon{
			display: inline-block;
			margin-left: 18px;
			background-color: fade(@color_one, 70%);
			height: 140px;
			line-height: 140px;
			text-align: center;
			width: 140px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;
			.ie7-inline-block();
			&:first-child{
				margin-left: 0;
			}
		}
	}
	.top-position{
		color: @color_two;
		font-size: @baseFontSize + 5;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}
}

// Scrolling menu

#nav_singlepage_pagefirst, #nav_singlepage_pagelast, #nav_singlepage_catdesc, #nav_singlepage_morearticles, #nav_singlepage_subcategories {
	display: none;
}
div#singlepage_blog_titles {
	display: none;
}
div#singlepage_blog_titles_wrapper.affix {
	top: 40px;
	position: fixed;
}
div#blog_titles {
	bottom: 20px;
}
div#singlepage_blog_titles_wrapper ul.scrolling {
	list-style: none;
}

// ------------------------
div.cat_children>div, div.cat-children>div, div.categories-list>div,
div.cat-children li, div.categories-list li{
	border-bottom-color: @color_three;
}
.contact{
	dd{
		margin-bottom: 10px;
	}
}
div:first-child+.panel{
	border-radius: 0 0 0 0;
}
.panel{
	border-color: @color_three;
	&:last-child{
		border-bottom-color: @color_three;
		border-radius: 0 0 0 0;
	}
	h3.pane-toggler-down a,  p.pane-toggler-down a{
		color : lighten(@color_two, 10%)
	}
}
.list-striped,.row-striped {
	border: 0;
}
.list-striped li,.list-striped dd,.row-striped .row,.row-striped .row-fluid{
	border-bottom-color: @gray;
	&:nth-child(odd){
		background-color: @color_three;
	}
	&:hover{
		background-color: lighten(@color_three, 5%);
	}
}
.search, .finder{
	label,input{
		margin-left: 3px;
		margin-right: 3px;
	}
}
// Pagination
// ------------------------

.pagination {
	ul{
		>.disabled{
			>span,>a,>a:hover,>a:focus{
				color : @textColor;
			}
		}
		> li {
			> a, >span{
				color : @color_one;
				&:hover{
					color : @grayLight;
				}
			}
		}
	}
	.counter{
		color : @textColor;
		line-height: 30px;
		margin-bottom: 0;
		min-height: 30px;
	}
}
// ------------------------
#sidebar1 , #sidebar2{
	+ #main {
		.item-page{
			> .page-header{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
.hide-text [class^="icon-"], .hide-text [class*=" icon-"]{
	line-height: 17px;
}
// ------------------------
#footer{
	background-color: @color_two;
	background-image: none;
	color : @color_five;
	filter:none;
	padding-top: 10px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
			box-sizing: border-box;
	.footer-content{
		font-size: 12px;
		a{
			color : @color_five;
		}
	}
	&.sticky{
		border-bottom: 10px solid @bodyBackground;
	}
	.navbar{
		.nav {
			> li {
				border-left: 1px solid @color_five;
				margin-left: 0;
				margin-right: 0;
				&:first-child{
					border-left: 0;
				}
				&:hover{
					> a{background-image: none;}
				}
				> a{
					line-height: 12px;
					font-weight: 400;
					min-height: 12px;
					padding: 0 5px;
				}
			}
		}
	}
}
.wrapper-footer{
	border-bottom: 10px solid @color_one;
	border-top: 10px solid @color_one;
}

//Portfolio
// ------------------------
.tripod-portfolio{
	.clearfix();
	[class*="span"]{
		margin-left: 0 !important;
	}
	.span6{
		width: 50% !important;
	}
	.span3{
		width: 25% !important;
	}
}
// Single Page
// ------------------------
.color_one{
	background-color: @color_one;
}
.color_two{
	background-color: @color_two;
	color : @color_one;
	a{
		color : @color_one;
	}
	dl.article-info{
		color : @color_one;
	}
}
p.img_caption{
	background-color: @color_three;
	padding: 3px;
	font-size: 0.9em;
	line-height: 1.2em;
}
.accordion-group{
	background-color: @bodyBackground;
	border-color: @color_three;
}
.accordion-inner{
	border-top-color: @color_three;
}
// Category Module
// ------------------------
.mod-articles-category-date{
	color : @color_two;
	font-weight: 700;
	line-height: 40px;
	min-height: 40px;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;

	.icon-calendar{
		display: none;
	}

	&:before,
	&:after{
		background-repeat: no-repeat;
		content: '';
		height: 40px;
		position: absolute;
		top: 0;
		width: 15px;
	}
	&:before{
		background-position: 0 0;
		left: 0;
	}
	&:after{
		background-position: right top;
		right: 0;
	}

}
mod-articles-category-introtext{
	padding-top: 5px;
}
.mod-articles-category-title {
	.icon-file{
		display: none;
	}
}
[class*="category-module"]{
	li {
		border-bottom: 0;
		padding: 0;
		h1,h2,h3,h4,h5,h6{
			float: left;;
			font-weight: 400;
			margin-bottom: 0;
			margin-top: 10px;
			text-align: left;
			+ .mod-articles-category-date{
				float: right;
				margin-top: 10px;
			}
		}
		h6{
			font-size: 20px;
		}
		&:nth-child(odd), &:hover{
			background-color: transparent;
		}
		.mod-articles-category-introtext{
			clear: both;
		}
	}
}
[class*="newsflash"]{
	font-size: 14px;
	.clearfix();
	h1,h2,h3,h4,h5,h6{
		color : @color_two;
		font-family: @sansFontFamily;
		font-weight: 600;
		margin-bottom: 5px;
	}
	[class*="newsflash-title"]{
		font-size: 18px;
		.page-header{
			border-bottom: 0;
			margin: 0;
		}
	}
	[class*="img-intro"]{
		padding: 5px;
		.img-polaroid;
	}
}
// slideshow
.load-item{
	background-repeat: no-repeat;
	cursor: pointer;
	height: 168px;
	position: absolute;
	top: ~"calc(50% - 84px)";
	width: 63px;
	z-index: 5;
}
#nextslide{
	background-image: url(../../images/yellow-black/slideshow-nav-next.png);
	right: -3px;
}
#prevslide{
	background-image: url(../../images/yellow-black/slideshow-nav-prev.png);
	left: -3px;
}
#singlepage_blog_titles_wrapper{
	margin-bottom: 0;
}
.category-desc.singlepage_section{
	padding-left: 20px;
	padding-right: 20px;
}

.tripodFtBlog{
	.blog ,.blog-featured{
		background-color: @color_one;
		margin-bottom: 0;
		> .page-header{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	#main-content{
		margin-bottom: 0;
		padding-bottom: 20px;
	}
}
.bottom-page{
	background-color: @color_three;
}
#header{
	&.tripodSlideshow{
		.box-sizing(border-box);
		height: 100%;
		margin-bottom: 0;
		padding-bottom: 150px;
		padding-top: 160px;
		#logo{
			background-color: fade(@color_one, 70%);
			display: table;
			padding: 40px 120px;
			width: auto;
		}
		.top-position{
			background-color: fade(@color_one, 70%);
			display: table;
		}
	}
}

#supersized-loader { position:fixed; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em;}

#supersized {
	display:block;
	height:100%;
	left:0; top:0;
	margin: 0;
	overflow:hidden;
	position:fixed;
	width:100%;
	z-index:-999;
}
#supersized img {
	width:auto;
	height:auto;
	position:relative;
	display:none;
	outline:none;
	border:none;
	left: 0;
	max-width: inherit;
}
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

#supersized li {
	display:block;
	height:97%;
	left:0;
	list-style:none;
	overflow:hidden;
	position:fixed;
	top:10px;
	width:100%;
	z-index:-30;
}
#supersized a {
	background-color: @color_one;
	border-radius: 15px;
	display:block;
	height:100%;
	margin-left: 1%;
	overflow: hidden;
	width:98%;
}
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#111; width:100%; height:100%; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:block; }

.toolbar-collapse-btn{
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	height: 20px;
	padding: 10px;
	position: fixed;
	right: 20px;
	top: 0px;
	width: 20px;
	z-index: 1031;
	.icon-bar{
		background-color: #8f6b00;
		display: block;
		height: 2px;
		margin-top: 2px;
		width: 100%;
	}
}

.toolbar.collapse{
	.navbar-fixed-top{
		position: static;
	}
	&.in{
		.navbar-fixed-top{
			position: fixed;
		}
	}
}
.stats-module{
	.clearfix();
}
.no-responsive{
	.top-menu-toggler{
		min-width: 940px;
		position: relative;
		.toolbar-collapse-btn{
			position: absolute;
		}
	}
}
::selection {
	background-color: lighten(@color_two, 26%);
}
::-moz-selection {
	background-color: lighten(@color_two, 26%);
}
.items-more{
	.nav.nav-tabs>li:hover>a:before, .nav.nav-tabs>li:hover>a:after{
		content: none;
	}
}
#spanScrollingMenuWrapper{
	z-index: 1001;
}